* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;

    flex-direction: column;
}

h1 {
    align-self: center;
    margin: 30px;
}

main {
    flex: 1;

    display: flex;
    flex-direction: row;
}

.table-select-container {
    margin: 10px;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
}

#table-select {
    width: 18rem;
}

.col-select {
    width: 8.5rem;;
}

.chart-options {
    margin: 10px;
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        ". . ."
        ". . .";

    row-gap: 2px;
    column-gap: 10px;
}


.chart-container {
    flex: 1;

    display: grid;
    place-content: center;

    margin-bottom: 50px;
}

#chart {
    border: 1px solid black;
}

#apply {
    margin: 10px;
}